/* HEADER start */

header {
    position: fixed;
    z-index: 1;
    top: 0;

    width: 100%;

    background: rgba(255, 255, 255, .1);
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 50%;
    margin: 0 auto;

    padding-inline-start: unset;
}

header ul li {
    box-sizing: border-box;
    margin: 10px;

    list-style-type: none;

    text-align: center;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;

    color: rgb(0, 140, 140);
}

@media (max-width: 800px) {
    header ul {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 400px) {
    header ul li {
        width: 50%;
        margin: 10px 0;
    }
}

/* HEADER end */