@keyframes turning_on_background {
    0% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.04) 0%, rgba(0, 0, 0, 1) 50%);
    }
    15% {
        background: radial-gradient(ellipse at center, rgba(122, 223, 211, 0.05) 0%, rgba(0, 0, 0, 1) 60%);
    }
    20% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.07) 0%, rgba(0, 0, 0, 1) 70%);
    }
    25% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.05) 0%, rgba(0, 0, 0, 1) 60%);
    }
    30% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.07) 0%, rgba(0, 0, 0, 1) 70%);
    }
    35% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.06) 0%, rgba(0, 0, 0, 1) 60%);
    }
    65% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.07) 0%, rgba(0, 0, 0, 1) 70%);
    }
    75% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.08) 0%, rgba(0, 0, 0, 1) 70%);
    }
    80% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.07) 0%, rgba(0, 0, 0, 1) 70%);
    }
    100% {
        background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.08) 0%, rgba(0, 0, 0, 1) 70%);
    }
}


.screen--welcome-to-hell {
    background: radial-gradient(ellipse at center, rgba(39, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.screen--intro {
    background: radial-gradient(ellipse at center, rgba(0, 255, 225, 0.08) 0%, rgba(0, 0, 0, 1) 70%);
    animation: turning_on_background 2s linear;
}

.letter-h {
    animation: turning_on_letters .8s 0.35s;
}

.letter-e {
    animation: turning_on_letters .9s 0.65s;
}

.letter-l1 {
    animation: turning_on_letters .7s 0.75s;
}

.letter-l2 {
    animation: turning_on_letters 1s 0.85s;
}

.letter-o {
    animation: turning_on_letters 1.3s 1s;
}