

h1 {
    font-size: 45pt;
}

body {
    margin: 0;
    padding: 0;

    background-color: #000;

    font: 100% "Lato", sans-serif;
}

.main {
    overflow-x: hidden;
    overflow-y: auto;

    height: 100vh;

/* paralax start*/

    perspective: 2px;

/* paralax end*/
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    min-height: 100vh;

    scroll-snap-align: start;
}

/* BUTTON */

.white-button {
    display: inline-block;

    margin: 10px;
    padding: 20px;

    transition: box-shadow .2s;
    text-decoration: none;

    color: var(--original);
    border: white 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, .10);
}

.white-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .20);
}

/* BUTTON */

/* ABOUT start */

#about {
    position: relative;

    overflow: hidden;

    padding: 20px;

    background: #cdf2f5;
}

#about::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 30%;
    height: 70%;

    content: "";
    transform: skewX(-25deg) translatex(-70%);

    background-image: radial-gradient( circle farthest-corner at 100% 0%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);
    background-attachment: fixed;
    background-size: cover;

    filter: drop-shadow(20px -80px 0 #fff);
}

#about:after {
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    width: 30%;
    height: 70%;

    content: "";
    transform: skewX(-25deg) translateX(70%);

    background-image: radial-gradient( circle farthest-corner at 10% 35%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);
    background-attachment: fixed;
    background-size: cover;

    filter: drop-shadow(-20px 80px 0 var(--light50));
}

#about .about-info {
    z-index: 1;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 70%;
}

#about .about-info p {
    display: block;

    width: 100%;
    padding: 0 20px;

    line-height: 27px;
}

#about .about-info .diagram {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 120px;
    height: 120px;
    margin: 25px;
    padding: 10px;

    border-radius: 50%;
}

@media (max-width: 1000px) {
    #about:before,
    #about:after {
        display: none;
    }
    #about .about-info {
        width: 100%;
    }
}

/* ABOUT end */



/* CONTACT */

#contact {
    background-color: #1b1d27;
}

/* CONTACT end */