@keyframes turning_on {
    0% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0));
    }
    12% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0));
    }
    14% {
        color: rgba(0, 255, 255, 0.4);
        text-shadow: 0 0 12px rgba(0, 234, 234, .4), 0 -2px 5px rgba(0, 142, 255, .5), 0 2px 3px rgba(247, 167, 238, .2);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, .2);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, .05));
    }
    16% {
        color: rgba(0, 255, 255, 0.5);
        text-shadow: 0 0 14px rgba(0, 234, 234, .4), 0 -2px 6px rgba(0, 142, 255, .6), 0 2px 3px rgba(247, 167, 238, .3);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, .3);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, .09));
    }
    18% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 16px rgba(0, 234, 234, .1), 0 -2px 7px rgba(0, 142, 255, .1), 0 1px 4px rgba(247, 167, 238, .4);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, .4);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, .13));
    }
    20% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0));
    }
    /*pause*/
    28% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0));
    }
    30% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 16px rgba(0, 234, 234, .1), 0 -2px 7px rgba(0, 142, 255, .1), 0 1px 4px rgba(247, 167, 238, .4);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, .4);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, .13));
    }
    32% {
        color: rgba(0, 255, 255, 0.5);
        text-shadow: 0 0 20px rgba(0, 234, 234, .9), 0 -2px 7px rgba(0, 142, 255, .9), 0 2px 5px rgba(247, 167, 238, .5);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.57);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.17));
    }
    34% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0.0);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0));
    }
    /*pause*/
    66% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0));
    }
    68% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 16px rgba(0, 234, 234, .1), 0 -2px 7px rgba(0, 142, 255, .1), 0 1px 4px rgba(247, 167, 238, .4);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, .4);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, .13));
    }
    70% {
        color: rgba(0, 255, 255, 0.5);
        text-shadow: 0 0 20px rgba(0, 234, 234, .9), 0 -2px 7px rgba(0, 142, 255, .9), 0 2px 5px rgba(247, 167, 238, .5);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.57);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.17));
    }
    74% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0.0);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0));
    }
    /*pause*/
    80% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0));
    }
    84% {
        color: rgba(0, 255, 255, 0.4);
        text-shadow: 0 0 12px rgba(0, 234, 234, .4), 0 -2px 5px rgba(0, 142, 255, .5), 0 2px 3px rgba(247, 167, 238, .3);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.3);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.1));
    }
    100% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 20px rgba(0, 234, 234, .7), 0 -2px 7px rgba(0, 142, 255, .9), 0 2px 5px rgba(247, 167, 238, .6);
        box-shadow: inset 0 0 3px 2px rgba(0, 255, 255, 0.55);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.18));
    }
}

@keyframes turning_on_letters {
    0% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
    }
    12% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
    }
    14% {
        color: rgba(0, 255, 255, 0.4);
        text-shadow: 0 0 12px rgba(0, 234, 234, .4), 0 -2px 5px rgba(0, 142, 255, .5), 0 2px 3px rgba(247, 167, 238, .2);
    }
    16% {
        color: rgba(0, 255, 255, 0.5);
        text-shadow: 0 0 14px rgba(0, 234, 234, .4), 0 -2px 6px rgba(0, 142, 255, .6), 0 2px 3px rgba(247, 167, 238, .3);
    }
    18% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 16px rgba(0, 234, 234, .1), 0 -2px 7px rgba(0, 142, 255, .1), 0 1px 4px rgba(247, 167, 238, .4);
    }
    20% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
    }
    /*pause*/
    28% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
    }
    30% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 16px rgba(0, 234, 234, .1), 0 -2px 7px rgba(0, 142, 255, .1), 0 1px 4px rgba(247, 167, 238, .4);
    }
    32% {
        color: rgba(0, 255, 255, 0.5);
        text-shadow: 0 0 20px rgba(0, 234, 234, .9), 0 -2px 7px rgba(0, 142, 255, .9), 0 2px 5px rgba(247, 167, 238, .5);
    }
    34% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
    }
    /*pause*/
    66% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
    }
    68% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 16px rgba(0, 234, 234, .1), 0 -2px 7px rgba(0, 142, 255, .1), 0 1px 4px rgba(247, 167, 238, .4);
    }
    70% {
        color: rgba(0, 255, 255, 0.5);
        text-shadow: 0 0 20px rgba(0, 234, 234, .9), 0 -2px 7px rgba(0, 142, 255, .9), 0 2px 5px rgba(247, 167, 238, .5);
    }
    74% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
    }
    /*pause*/
    80% {
        color: rgba(0, 255, 255, 0.1);
        text-shadow: 0 0 20px rgba(0, 234, 234, 0), 0 -2px 7px rgba(0, 142, 255, 0), 0 2px 5px rgba(247, 167, 238, 0);
    }
    84% {
        color: rgba(0, 255, 255, 0.4);
        text-shadow: 0 0 12px rgba(0, 234, 234, .4), 0 -2px 5px rgba(0, 142, 255, .5), 0 2px 3px rgba(247, 167, 238, .3);
    }
    100% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 20px rgba(0, 234, 234, .7), 0 -2px 7px rgba(0, 142, 255, .9), 0 2px 5px rgba(247, 167, 238, .6);
    }
}

@keyframes blinking {
    0% {
        color: rgba(0, 255, 255, 0.5);
        text-shadow: 0 0 20px rgba(0, 234, 234, .6), 0 -2px 7px rgba(0, 142, 255, .8), 0 2px 5px rgba(247, 167, 238, .5);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.54);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.18));
    }
    33% {
        color: rgba(0, 255, 255, 0.8);
        text-shadow: 0 0 20px rgba(0, 234, 234, .9), 0 -2px 7px rgba(0, 142, 255, .9), 0 2px 5px rgba(247, 167, 238, .4);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.57);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.17));
    }
    66% {
        color: rgba(0, 255, 255, 0.6);
        text-shadow: 0 0 20px rgba(0, 234, 234, .7), 0 -2px 7px rgba(0, 142, 255, .7), 0 2px 5px rgba(247, 167, 238, .6);

        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.55);
        filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.18));
    }
    100% {
        color: rgba(0, 255, 255, 0.7);
        text-shadow: 0 0 20px rgba(0, 234, 234, .8), 0 -2px 7px rgba(0, 142, 255, .9), 0 2px 5px rgba(247, 167, 238, .4);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.56);
        filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.17));
    }
}


.neon::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAM8lDrC4AAAAWSURBVBjTY2BEAwyMDAwomBiB4WMGAEGgAHEPA6weAAAAAElFTkSuQmCC);
    background-size: 15px;
    z-index: 1;
}

.neon{
    position: relative;
    font-family: 'Press Start 2P', 'Franklin Gothic Medium', Arial, sans-serif;
    color: rgba(0, 255, 255, .2);
    padding: 10px;
    border: 2px #000 solid;
    background: rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 0 2px rgba(0, 255, 255, .2);

}

.neon--active{
    background: #0e171d;
    color: rgba(0, 255, 255, 1);
    border: 2px rgb(0, 40, 40) solid;
    box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 1);
    animation: turning_on 1s, blinking 0.007s 1s infinite;
}

.neon--disabled {
    opacity: 0.25;
    color: rgba(255, 255, 255, .2);
    text-shadow: none;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.45);
    animation: none;
}

.neon--borderless{
    box-shadow: none !important;    
    border: none !important;
    padding: 0px !important;
}