.header {
    position: fixed;
    z-index: 1;
    top: 0;

    width: 100%;

    background: rgba(255, 255, 255, .1);

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        width: 50%;
        margin: 0 auto;

        padding-inline-start: unset;
    }

    &__item {
        box-sizing: border-box;
        margin: 10px;

        list-style-type: none;

        text-align: center;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;

        color: rgb(0, 140, 140);
    }

    @media (max-width: 1000px) {
        &__list {
            width: 100%;
            margin: 0;
        }
    }

    @media (max-width: 600px) {
        &__item {
            width: 50%;
            margin: 10px 0;
        }
    }
}