body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;

    font: 100% "Lato", sans-serif;
}

p {
    line-height: 1.5em;
    max-width: 450px;
}

.main {
    overflow-x: hidden;
    overflow-y: auto;

    height: 100vh;

    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    min-height: 100vh;

    scroll-snap-align: start;
}

.text-block {
    max-width: 800px;
}
